/*External CSS
	 
	
	Internal CSS syntax:

		selector {
			property: value;
			property: value;
		}
*/

/* Universal Selector - used to target all elements */

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
	color: brown;
}

h1{
	color: yellow !important;
}


h2{
	color: blue;
}

p{
	color: green;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}


#zuitt_motto{
	letter-spacing: 5px;
}

#offering-1{
	color: black;
}

.offering-item{
	text-transform: uppercase;
}



/* Adjacent Sibling Comninator (+) */
/* Used to select a specific element after another specific element */


h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*div + p{
	background-color: blue;
}
*/



/* General Sibling Combinator (~) */
/* Used to to select all elements that are next siblings of a specified element */

/*div ~ p {
	background-color: yellow;
}*/



/* Child Combinator (>) */
/* Used to select all elements that are the children of a specified element */

/*div > p{
	background-color: yellow;
}*/



/* Descendant Combinator ( ) */
/* Used to match all elements that are descendants of a specified element */

div p{
	background-color: yellow;
}



/* Multiple Selector */
/* Used to select multiple elements that is separated by a comma */

/*h3, p, ol, h1{
	property: value;
}*/